
.thirds {
    width: 33%;
    display: inline-block;
}

img.fluid {
    width: 100%;
}

.quarters {
    width: 24.75%;
    display: inline-block;
}

.halves {
    width: 49.75%;
    display: inline-block;
}

<head>
  <link rel="stylesheet" href="animate.min.css">
</head>
<<<<<<< HEAD

.jumbotron .h1, .jumbotron h1 {
  color: blue;
}

li {
    list-style-type: none;
}
=======
>>>>>>> 6826a5e25981fa7f2087d40d8649cb0643b77349
