
.thirds {
    width: 33%;
    display: inline-block;
}

img.fluid {
    width: 100%;
}

.quarters {
    width: 24.75%;
    display: inline-block;
}

.halves {
    width: 49.75%;
    display: inline-block;
}

<head>
  <link rel="stylesheet" href="animate.min.css">
</head>

.jumbotron .h1, .jumbotron h1 {
  color: blue;
}

li {
    list-style-type: none;
}